@mixin textFont($family, $weight, $fSize, $lHeight, $color, $align) {
   font-family: $family;
   font-weight: $weight;
   font-size: $fSize;
   line-height: $lHeight;
   text-align: $align;
   color: $color;
}
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
ul,
ol {
   list-style: none;
}
a {
   text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}
.tel-hibe{
   display: none;
   width: 55px;
   height: 55px;
   margin-top: 5px;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
}

.container {
   max-width: 1202px;
   margin: 0 auto;
   padding: 0 16px;
}

.header {
   height: 98px;
   z-index: 101;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 16px;
   }
   &__effect {
      width: 100%;
      height: 98px;
      background: #151515;
      opacity: 0.3;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -99;
   }

   &__logo {
      margin-right: 45px;
   }

   &__info-box {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 58px;
   }

   &__info-tel {
      @include textFont("SF Pro Display", 700, 18px, 18px, #fefefe, center);
      letter-spacing: 0.1em;
   }

   &__info-choice-box {
      position: relative;
   }

   &__info-choice-img {
      position: absolute;
      left: auto;
      right: 100px;
      top: -21px;
   }

   &__info-choice {
      @include textFont("SF Pro Display", 400, 24px, 24px, #fefefe, center);
   }
}
.burger-mn {
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
   span {
      width: 30px;
      height: 2px;
      display: block;
      background: #dadada;
      border-radius: 10px;
   }
}
.page {
   position: relative;
   &__main-face {
      padding: 98px 0 0 0;
      width: 100%;
      background-image: url(../img/main-face-img.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
}

.main-face {
   padding-bottom: 30px;
   &__effect {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 20%;
      background: linear-gradient(180deg, #46a5f2 0%, #acd7f9 100%);
   }

   &__line {
      position: absolute;
      width: 1125px;
      opacity: 0.6;
      top: 148px;
      border: 1px solid #fefefe;
      z-index: -1;
   }

   &__title {
      margin-top: 50px;

      h2 {
         @include textFont("Oranienbaum", 400, 120px, 94%, #fefefe, center);
      }

      p {
         max-width: 665px;
         margin: 0 auto;
         margin-top: 18px;
         @include textFont(SF Pro Display, 400, 32px, 117%, white, center);
      }
   }

   &__arrow {
      text-align: center;
      margin-top: 325px;
   }
}

.menu {
   text-align: center;
   padding-top: 15px;
   &__ul {
      display: flex;
      gap: 40px;
   }
   &__li {
      white-space: nowrap;
   }
   &__link {
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.2em;
      padding-bottom: 15px;
      @include textFont("SF Pro Display", 400, 14px, 120%, #fefefe, center);
   }
   .active {
      border-bottom: 6px solid rgba(172, 140, 90, 1);
   }
}

.main-life {
   display: flex;
   align-items: center;
   margin-top: 115px;
   gap: 30px;
   &__right {
      position: relative;
   }
   &__right-control-video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
   &__left {
      h3 {
         @include textFont("Oranienbaum", 400, 50px, 94%, #ac8c5a, start);
         font-style: normal;
         flex: none;
         order: 0;
         align-self: stretch;
         flex-grow: 0;
      }
      p {
         @include textFont("HelveticaNeueCyr", 300, 24px, 140%, #151515, start);
         font-style: normal;
         margin-top: 12px;
      }
   }
}
// .main-slider{
//    background-color: rgba(172, 140, 90, 1);
// }
.info-slider {
   display: flex;
   max-width: 1440px;
   margin: 0 auto;
   margin-top: 115px;

   &__left {
      position: relative;
      width: 54%;
      padding: 30px 30px 30px 50px;
      background-color: rgba(172, 140, 90, 1);
      height: 800px;
      h2 {
         max-width: 450px;
         @include textFont("Oranienbaum", 400, 57px, 94%, #151515, start);
      }

      p {
         max-width: 570px;
         margin-top: 32px;
         @include textFont("HelveticaNeueCyr", 300, 24px, 140%, #151515, start);
      }

      h3 {
         max-width: 570px;
         margin-top: 32px;
         @include textFont("HelveticaNeueCyr", 400, 20px, 140%, #151515, start);
      }

      h4 {
         max-width: 570px;
         margin-top: 32px;
         @include textFont("HelveticaNeueCyr", 300, 24px, 140%, #151515, start);
      }
      
      ul {
         li {
            margin-top: 10px;
            @include textFont("HelveticaNeueCyr", 300, 24px, 140%, #151515, start);
         }
      }
   }

   &__left-bottom {
      position: absolute;
      display: flex;
      align-items: center;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 70px;
      z-index: 101;
      background-color: #151515;
   }

   &__rigtht-bg {
      display: inline-block;
      width: 100%;
      height: 100%;
      background-image: url("../img/sl-one-img-one.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
   }
   &__right{
      width: 46%;
   }

   &__left-numbers {
      width: fit-content;
      border: 1px solid rgba(172, 140, 90, 1);
      border-radius: 20px;
      display: flex;
      padding: 5px 15px;
      margin-left: 50px;

      span {
         padding: 3px;
         @include textFont("SF Pro Display", 400, 16px, 120%, #ac8c5a, center);
      }
   }

   &__left-arrows {
      display: flex;
      gap: 70px;
      margin-left: 150px;

      img {
         cursor: pointer;
      }
   }
}

.show {
   display: flex;
}

.hide {
   display: none;
}

.fade {
   animation-name: fade;
   animation-duration: 1.5s;
}

@keyframes fade {
   from {
      opacity: 0.3;
   }

   to {
      opacity: 1;
   }
}

.main-manifest {  
   position: relative;
   margin-top: 100px;

   &__wrapper {
      display: block;
      background-image: url('../img/manifest-bg.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 70px;
      padding-right: 330px;
      border-radius: 0px 40px 0px 40px;
      
      h2 {
         @include textFont('Oranienbaum', 400, 60px, 94%, #AC8C5A, start)
      }

      h3 {
         margin-top: 20px;
         max-width: 770px;
         @include textFont('HelveticaNeueCyr', 400, 24px, 140%, #AC8C5A, start)
      }
      
      p,h4 {
         margin-top: 20px;
         max-width: 770px;
         @include textFont('HelveticaNeueCyr', 400, 24px, 140%, #fefefe, start)
      }

      h4 {
         margin-top: 20px;
         margin-bottom: 8px;
      }
   }

   &__img {
      position: absolute;
      top: 0;
      right: 16px;
      height: 200px;
   }
}

.main-start {
   margin-top: 100px;

   &__wrapper {
      display: flex;
      align-items: center;
      gap: 70px;
   }

   &__right {

      h2 {
         
         @include textFont('Oranienbaum', 400, 70px, 94%, #ac8c5a, start)
      }

      p {
         margin-top: 20px;
         @include textFont('HelveticaNeueCyr', 300, 32px, 140%, #151515, start)
      }

   }
}  

.btn-primary {
   all: unset;
   cursor: pointer;
   border: 1px solid #ac8c5a;
   border-radius: 40px;
   padding: 20px 40px;
   margin-top: 30px;
   @include textFont('HelveticaNeueCyr', 400, 26px, 31px, #ac8c5a, center)
}

.main-rez {
   margin-top: 100px;

   &__wrapper {
      display: flex;
      align-items: center;
   }

   &__left {

      h2 {
         @include textFont('Oranienbaum', 400, 90px, 94%, #ac8c5a, start)
      }

      p {
         max-width: 700px;
         margin-top: 25px;
         @include textFont('HelveticaNeueCyr', 300, 32px, 140%, #151515, start)
      }

      &-bottom {
         display: flex;
         align-items: center;
         gap: 15px;
         margin-top: 25px;

         span {
            display: block;
            max-width: 700px;
            letter-spacing: 0.1em;
            @include textFont('SF Pro Display', 300, 18px, 160%, #333333, start)
         }
      }
   }

   &__right {
      margin-left: auto;
   }
}
@import 'media';